<% include partials/header %>

<div class='container'>
	<div class='row'>
		<div style='width: 30%; margin: 25px auto;'>
			
			<div class='form-header'>
				<div class='form-header__logo'>Yelp<i class="fas fa-tree"></i>Camp</div>
				<div class='form-header__substring'>Nice to see you again!</div>
			</div>

			<form action='/login' method='POST'>
				<div class='form-group'>
					<input class='form-control' type='text' name='username' placeholder='username'>
				</div>
				<div class='form-group'>
					<input class='form-control' type='password' name='password' placeholder='password'>
				</div>
				<div class='form-group'>
					<button class='btn btn-lg btn-block btn-basic'> Log In
					</button>
				</div>
			</form>
			<div class='form-footer'>
				<a href='/campgrounds'>Go Back</a>
				<a href='/register'>I'm new here!</a>
			</div>
		</div>
	</div>
</div>

<!-- <form action='/login' method='post'>
	<input type='text' name='username' placeholder='username'>
	<input type='password' name='password' placeholder='password'>
	<input type='submit' value='Login!'>
</form> -->

<% include partials/footer%>