body, html {
    display: flex;
    flex-direction: column;
	height: 100%;
}

.header {
   flex: 0 0 auto;
}

.wrapper {
	/* padding-bottom: 4.0em; */
   	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.navbar {
	border: none;
	background-color: transparent;
}

.navbar li a {
	color: #7c677f !important;
}

.navbar-brand {
	font-family: 'Montserrat';
	color: #7c677f !important;
}

.navbar-toggler-icon {
	color: #7c677f;
}

.btn-basic {
	background-color: #9bc400;
	border: none;
	color: white;
}

.btn-basic:active {
  	background-color: #7c677f;
	border: none;
}

.btn-basic:hover{
	color: white;
}

.form-header{
	text-align: center;
	padding: 25px;
	font-size: 1rem;
	font-style: bold;
	font-family: 'Montserrat';
	color: #7c677f;
}

.form-header__logo  {
	font-size: 3rem;
	margin-bottom: 10px;
}

.form-header__string {
	font-size: 2rem;
	color: #7c677f;
}

.form-footer{
	display: flex;
  	justify-content: space-between;
}

.form-footer a {
	color: #7c677f;
}

.jumbotron {
	background: left bottom 17%;
	background-size: cover;
	background-image: url(https://images.unsplash.com/photo-1464547323744-4edd0cd0c746?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	/* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); */
	color: #eee;
}

.jumbotron-text {
	font-size: 3rem;
}

.index-row {
	padding: 0 1.5rem;
}

.card {
	padding: 0;
}

.card-img-overlay {
	color: white;
	top: auto;
	right: auto;
}

.card-title {
	right: auto;
	font-size: 1.5rem;
	margin: 0;
	padding: 0
}

.card-text {
	right: auto;
	margin: 0;
	padding: 0
}

.show-back a {
	color: #7c677f;
}

#map {
	height: 450px;
}


.delete-form {
	display: inline;
}