/* html, body {
	height: 100%;
	margin:0;
	padding:0;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
	padding-bottom: 4.0em;
	padding-top: 7.0em;
   	flex: 1 0 auto;
} */

.navbar-brand {
	font-family: 'Montserrat';
}

.form-header{
	text-align: center;
	padding: 25px;
	font-size: 1.3rem;
	font-style: bold;
	font-family: 'Montserrat';
}

.form-header__logo  {
	font-size: 4.3rem;
	margin-bottom: 10px;
}

.form-footer {
	display: flex;
  	justify-content: space-between;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 1em;
}

.delete-form {
	display: inline;
}

.fixed-bottom {
	background-color: #f8f8f8;
}